@model List<Category>
@section PageTitle {
Categories Dashboard
}
@section Title {
Categories
}
@section Footer {
End of Categories
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">ID</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Name</td>
                        <td>
                            <button class="btn btn-primary btn-sm">Update</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
